<div class="wrapper">
  <div class="main-chat cotainer" style="height: calc(100% - 80px);">
    <div class="message-input d-flex align-items-center">
      <div class="dropdown">
        <div class="dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false"></div>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><%= link_to 'ユーザー追加', room_path(@room), class: "dropdown-item" %></li>
            <li><%= link_to 'ルーム削除', room_path(@room), method: :delete, class: "dropdown-item" %></li>
          </ul>
        </div>
      <%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
        <div class="input-group">
          <div class="d-flex input-group-form">
            <%= f.text_field :content, class: 'form-message', placeholder: 'メッセージを入力' %>
            <div class="message-form-image">
              <label>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-image-fill" viewBox="0 0 16 16">
                  <path d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2V3zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z"/>
                </svg>
                <%= f.file_field :image, class: 'hidden' %>
              </label>
            </div>
          </div>
          <span><%= f.submit '送信', class: 'message-form-submit' %></span>
        </div>
      <% end %>
    </div>
    <div class="messages">
      <%= render partial: 'message', collection: @messages %>
    </div>
  </div>
</div>