<div class='form-wrap'>
  <div class='form-wrap-container'>
    <div class='form-header'>
      <h2 class='form-header-text'>
        ユーザー情報編集
      </h2>
    </div>
    <div class="user-edit-form">
      <%= form_with model: current_user, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
      <div id="new-image" class="user_icon"></div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">アイコン画像</label>
          <span class="form-text">任意</span>
        </div>
        <%= f.file_field :image, class: "form-control", id: "post_image" %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">ニックネーム</label>
          <span class="form-text">必須</span>
        </div>
        <%= f.text_field :nickname, class:"form-control", id:"nickname", placeholder:"例) ユーザー太郎", maxlength:"40" %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">メールアドレス</label>
          <span class="form-text">必須</span>
        </div>
        <%= f.email_field :email, class:"form-control", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">ユーザーのプロフィール</label>
          <span class="form-text">任意</span>
        </div>
        <%= f.text_area :user_profile, class:"form-control", id:"user_profile", placeholder:"ご登録されるユーザーのプロフィールをご記載ください" %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">飼っている犬種</label>
          <span class="form-text">任意</span>
        </div>
        <%= f.text_field :dog_breed, class:"form-control", id:"dog_breed", placeholder:"例) トイプードル", maxlength:"20" %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">飼育頭数</label>
          <span class="form-text">任意</span>
        </div>
        <%= f.text_field :dog_number, class:"form-control", id:"dog_number", placeholder:"例) 2", maxlength:"3" %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">飼犬の生年月日</label>
          <span class="form-text">任意</span>
        </div>
        <div class='input-birth-wrap '>
          <%= raw sprintf(
                      f.date_select(
                        :dog_birthday,
                        class:'select-birth',
                        id:"dog_birthday",
                        use_month_numbers: true,
                        prompt:'--',
                        start_year: 1930,
                        end_year: (Time.now.year - 5),
                        date_separator: '%s'),
                      "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
        </div>
      </div>
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">飼犬のプロフィール</label>
            <span class="form-text">任意</span>
          </div>
        <%= f.text_area :dog_profile, class:"form-control", id:"dog_profile", placeholder:"例) かわいい家族です。" %>
      </div>
      <div class="form-group">
        <div class='register-btn'>
          <%= f.submit "更新する" ,class:"btn btn-danger" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
