<div class='user-show-wrapper'>
  <div class='container d-flex justify-content-center px-0'>
    <div class="user-details-left">
      <div class="user-details-left-upper">
        <div class="user-picture-box">
          <% if @user.image.present? %>
            <%= image_tag @user.image, class: "user-picture-box" %>
          <% else %>
            <%= image_tag "no_image.png", class: "user-picture-box"%>
          <% end %>
        </div>
        <div class="user_name">
          <div class="form-text">ユーザー名：<%= @user.nickname %></div>
        </div>
        <div class='user-profile-box'>
          <div class="form-text">飼育数：<%= @user.dog_profiles.count %> 匹</div>
        </div>
        <div class="user-profile">
          <label class="form-text">ユーザープロフィール</label>
          <% if @user.user_profile.present? %>
            <div class="form-text"><%= @user.user_profile %></div>
          <% else %>
            <div class="form-text">未入力</div>
          <% end %>
        </div>
      </div>
      <div class="user-details-left-lower">
        <% if current_user.id == @user.id %>
          <ul class="user-edit-link">
            <li><%= link_to "アカウント情報編集", edit_user_path(@user), class: "btn btn-warning", id: "user-edit-link_1" %></li>
            <li><%= link_to "飼犬情報登録", new_user_dog_profile_path(@user), class: "btn btn-warning", id: "user-edit-link_2" %></li>
            <li><%= link_to "#{@user.nickname}さんの投稿一覧", post_picture_user_path(@user), class: "btn btn-warning", id: "user-edit-link_3" %></li>
          </ul>
        <% else %>
          <div class="user-details-left-space"></div>
        <% end %>
      </div>
    </div>
    <div class="user-detail-right">
      <% @user.dog_profiles.each do |dog_profile| %>
        <div class="dog-detail-box">
          <div class="dog-picture-box">
            <% if dog_profile.image.present? %>
              <%= image_tag dog_profile.image, class: "dog-picture-box" %>
            <% else %>
              <%= image_tag "no_image.png", class: "dog-picture-box"%>
            <% end %>
          </div>
          <div class='form-text-box'>
            <label class="form-text">◆犬種</label>
            <div class="form-text">　<%= dog_profile.dog_breed %></div>
          </div>
          <div class='form-text-box'>
            <label class="form-text">◆誕生日</label>
            <% if dog_profile.dog_birthday.present? %>
              <div class="form-text">　<%= dog_profile.dog_birthday.strftime('%Y/%m/%d') %></div>
            <% else %>
              <div class="form-text">　未入力</div>
            <% end %>
          </div>
          <div class='form-text-box'>
            <label class="form-text">◆年齢</label>
            <% if dog_profile.dog_birthday.present? %>
              <div class="form-text">　<%= dog_profile.dog_age %> 歳</div>
            <% else %>
              <div class="form-text">　未入力</div>
            <% end %>
          </div>
          <div class='form-text-box'>
            <label class="form-text">◆プロフィール</label>
            <% if dog_profile.dog_profile.present? %>
              <div class="form-text"><%= dog_profile.dog_profile %></div>
            <% else %>
              <div class="form-text">  未入力</div>
            <% end %>
          </div>
          <% if current_user.id == @user.id %>
          <div class='dog-profile-edit-link'>
            <%= link_to "編集", edit_user_dog_profile_path(@user, dog_profile), class: "form-text", style: "color:#00bfff;" %>
            <%= link_to "削除", user_dog_profile_path(@user, dog_profile), method: :delete, class: "form-text", style: "color:#ff4500;"%>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>