<div class='user-show-wrapper'>
  <div class='container d-flex justify-content-center px-0'>

    <div class="user-details-left">
      <div>
        <div class="user-picture"></div>
      </div>
      <div>
        <div class="user-profile">
          <label class="form-text">ユーザープロフィール</label>
          <% if @user.user_profile.present? %>
            <div class="form-text"><%= @user.user_profile %></div>
          <% else %>
            <div class="form-text">未入力</div>
          <% end %>
        </div>
        <div class='user-profile-box'>
          <% if @user.dog_number.present? %>
            <div class="form-text">飼育数：<%= @user.dog_number %> 匹</div>
          <% else %>
            <div class="form-text">飼育数：未入力</div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="user-detail-right">
      <div class="dog-detail-box">
        <%# モデルにてuserに画像を紐づけるアソシエーション追記必要 %>
        <div class='form-text-box'>
          <label class="form-text">飼犬の写真</label>
          <div class="form-text">画像</div>
        </div>
        <%# モデルにてuserに画像を紐づけるアソシエーション追記必要 %>
        <div class='form-text-box'>
          <label class="form-text">飼犬の犬種</label>
          <% if @user.dog_breed.present? %>
            <div class="form-text"><%= @user.dog_breed %></div>
          <% else %>
            <div class="form-text">未入力</div>
          <% end %>
        </div>
        <div class='form-text-box'>
          <label class="form-text">飼犬の誕生日</label>
          <% if @user.dog_birthday.present? %>
            <div class="form-text"><%= @user.dog_birthday.strftime('%Y/%m/%d') %></div>
          <% else %>
            <div class="form-text">未入力</div>
          <% end %>
        </div>
        <div class='form-text-box'>
          <label class="form-text">飼犬の年齢</label>
          <% if @user.dog_birthday.present? %>
            <div class="form-text"><%= @user.dog_age %> 歳</div>
          <% else %>
            <div class="form-text">未入力</div>
          <% end %>
        </div>
        <div class='form-text-box'>
          <label class="form-text">飼犬のプロフィール</label>
          <% if @user.dog_profile.present? %>
            <div class="form-text"><%= @user.dog_profile %></div>
          <% else %>
            <div class="form-text">未入力</div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>