<div class='user-show-wrapper'>
  <div class='container d-flex justify-content-center px-0'>
    <div class="user-details-left">
      <div>
        <div class="user-picture-box">
          <% if @user.image.present? %>
            <%= image_tag @user.image, class: "user-picture-box" %>
          <% else %>
            <%= image_tag "no_image.png", class: "user-picture-box"%>
          <% end %>
        </div>
      </div>
      <div class="user-edit-link">
        <span><%= link_to "アカウント情報編集", edit_user_path(@user), class: "form-text" %></span>
        <span><%= link_to "ワンちゃん情報登録", new_user_dog_profile_path(@user), class: "form-text" %></span>
      </div>
      <div>
        <div class="user-profile">
          <label class="form-text">ユーザープロフィール</label>
          <% if @user.user_profile.present? %>
            <div class="form-text"><%= @user.user_profile %></div>
          <% else %>
            <div class="form-text">未入力</div>
          <% end %>
        </div>
        <div class='user-profile-box'>
          <div class="form-text">飼育数：<%= @user.dog_number %> 匹</div>
        </div>
      </div>
    </div>
    <div class="user-detail-right">
      <% @user.dog_profiles.each do |dog_profile| %>
        <div class="dog-detail-box">
          <%# 後日実装 %>
          <%# <div class='form-text-box'>
            <label class="form-text">飼犬の写真</label>
            <div class="form-text">画像</div>
          </div> %>
          <%# 後日実装 %>
          <div class='form-text-box'>
            <label class="form-text">犬種</label>
            <div class="form-text">　<%= dog_profile.dog_breed %></div>
          </div>
          <div class='form-text-box'>
            <label class="form-text">誕生日</label>
            <% if dog_profile.dog_birthday.present? %>
              <div class="form-text">　<%= dog_profile.dog_birthday.strftime('%Y/%m/%d') %></div>
            <% else %>
              <div class="form-text">　未入力</div>
            <% end %>
          </div>
          <div class='form-text-box'>
            <label class="form-text">年齢</label>
            <% if dog_profile.dog_birthday.present? %>
              <div class="form-text">　<%= dog_profile.dog_age %> 歳</div>
            <% else %>
              <div class="form-text">　未入力</div>
            <% end %>
          </div>
          <div class='form-text-box'>
            <label class="form-text">プロフィール</label>
            <% if dog_profile.dog_profile.present? %>
              <div class="form-text">　<%= dog_profile.dog_profile %></div>
            <% else %>
              <div class="form-text">　未入力</div>
            <% end %>
          </div>
          <div class='dog-profile-edit-link'>
            <%= link_to "編集する", edit_user_dog_profile_path(@user), class: "form-text" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>