<div class="room-index-wrapper d-flex">
  <div class="room-index-left d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100vh;">
    <div class="mx-auto text-white text-decoration-none">
      <span class="fs-4">ルーム一覧</span>
      <button type="button" class="btn btn-warning my-2" id="room_input", style= "width:46px; font-size:10px; font-weight:600; margin-left:10px;">作成</button> 
    </div>
    <div class="room-create hidden" id="room-name-create">
      <%=form_with model: @room, method: :post, local: true do |f|%>
        <div class='chat-room-form__field'>
          <%= f.label :name, :チャットルーム名, class: 'chat-room-form__label mb-1'%>
        </div>
        <div class='chat-room-form__field'>
          <%= f.text_field :name, class: "form-control", style: "width:250px;", placeholder: "ルーム名を入力してください" %>
        </div>
        <div class='chat-room-form__field mt-3'>
          <%= f.submit "作成する", class: 'chat-room-form__action-btn btn btn-warning', style: "width:70px; font-size:5px;"%>
        </div>
      <% end %>
    </div>
    <hr>
    <div class="scroll_bar d-flex flex-column aline-items-center">
      <% current_user.rooms.each do |room| %>
        <ul class="nav nav-pills flex-column mb-10 mx-auto">
          <li class="nav-item">
            <%= link_to room.name, room_messages_path(room.id), class: "nav-link text-white"%>
          </li>
        </ul>
      <% end %>
    </div>
    <hr>
  </div>
  <div class="room-index-right">
    <div class="room-index-right-logo">
      <%= image_tag "Logo_black.png",  class: "room-logo" %>
    </div>
    <div class="room-index-right-message">
      <h3>~ ルームへようこそ ~</h3>
    </div>
  </div>
</div>