<div class="main-top">
  <div class="container d-flex align-items-center justify-content-center">
    <div class="content anim-box">
      <h1>Welcome to "Patte à Patte" </h1>
    </div>
  </div>
</div>
<section class="py-2 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <p>ログインして写真や情報を投稿してみましょう。</br>ルームチャット機能でコミュニティも作成してみましょう。</p>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <% if user_signed_in? %>
      <p>
        <%= link_to "投稿する", new_post_path, class: "btn btn-dark my-2"%>
        <button type="button" class="btn btn-dark my-2" id="room_input">ルーム作成</button>
      </p>
      <% end %>
    </div>
    <div class="room-create hidden" id="room-name-create">
      <%=form_with model: @room, local: true do |f|%>
        <div class='chat-room-form__field'>
          <%= f.label :name, :チャットルーム名, class: 'chat-room-form__label mb-1'%>
        </div>
        <div class='chat-room-form__field'>
          <input class="form-control" type="text" placeholder="ルーム名を入力してください">
        </div>
        <div class='chat-room-form__field mt-3'>
          <%= f.submit "作成する", class: 'chat-room-form__action-btn btn btn-warning'%>
        </div>
      <% end %>
    </div>
  </div>
</section>
<div class="album py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <% @post.each do |post| %>
      <div class="col u-fade-type-up js-scroll-trigger">
        <div class="card shadow mb-4 bg-body rounded-5">
          <div class="card-body d-flex flex-column justify-content-between align-items-center">
            <div class="card-img-top index-picture">
              <%= image_tag post.image, class: "w-100 rounded-5", style: "height: 250px;" %>
            </div>
            <h4 class="text-center tilte-line"><%= post.title %></h4>
              <div class="btn-group">
                <%= link_to "詳細", post_path(post.id), class: "btn btn-sm btn-outline-secondary"%>
              </div>
              <small class="text-muted">投稿者：<%= post.user.nickname %></small>
              <small class="text-muted">カテゴリー：<%= post.category.name %></small>
              <small class="text-muted">投稿日：<%= l post.created_at %></small>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
