<%= form_with model: @post, local: true do |f|%>
  <%# render 'error_messages', model: f.object %>
  <div class="field">
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content, "投稿内容" %><br />
    <%= f.text_area :content, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :category_id, "カテゴリー" %><br />
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}) %>
  </div>

  <div class="field">
    <%= f.label :image, "投稿画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div id="new-image"></div>

  <div class="actions">
    <%= f.submit "保存する" %>
    <%=link_to 'もどる', root_path %>
  </div>
<% end %>