<div class="show-content background-box">
  <div class="container">
      <div class="field">
        <%= image_tag @post.image, class: "show-box-img" %>
      </div>
      <div class="field h3 show-box-title">
        <%= @post.title %>
      </div>
      <div class="field show-box-content">
        <%= @post.content %>
      </div>
      <div class="field show-box-category">
        カテゴリー：<%= @post.category.name %>
      </div>
      <div class="field show-box-nickname">
        投稿者：<%= link_to @post.user.nickname, user_path(@post.user_id), style:"text-decoration: none; color:black;" %>
      </div>
      <div class="field show-box-date">
        投稿日：<%= l @post.created_at %>
      </div>
      <div class="show-btn">
        <%= link_to "ダウンロード", download_post_path, method: :get, class: " btn btn-warning" %>
        <% if user_signed_in? && current_user.id == @post.user_id %>
          <%= link_to "編集", edit_post_path, method: :get, class: " btn btn-warning" %>
          <%= link_to "削除", post_path, method: :delete, class:" btn btn-warning" %>
        <% end %>
      </div>
  </div>
  <div class="container-comment-box">
    <% if user_signed_in? %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
      <div class='comment-form__field'>
        <%= form.text_area :text, class: "form-control", placeholder: "コメントを入力", rows: "2" %>
      </div>
      <div class='comment-form__field'>
         <%= form.submit "コメントする", class: 'comment-form__action-btn btn btn-warning' %>
      </div>     
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, user_path(comment.user_id), class: "comment-user" %>さん</strong>
          <span><%= l @post.created_at %></span><br>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
  </div>
</div>