<div class="show-content background-box">
  <div class="container">
      <div class="field">
        <%= image_tag @post.image, class: "show-box-img" %>
      </div>
      <div class="field h3 show-box-title">
        <%= @post.title %>
      </div>
      <div class="field show-box-content">
        <%= @post.content %>
      </div>
      <div class="field show-box-category">
        カテゴリー：<%= @post.category.name %>
      </div>
      <div class="field show-box-nickname">
        投稿者：<%= link_to @post.user.nickname, user_path(@post.user_id), style:"text-decoration: none; color:black;" %>
      </div>
      <div class="field show-box-date">
        投稿日：<%= l @post.created_at %>
      </div>
      <div class="show-btn">
        <%= link_to "ダウンロード", download_post_path, method: :get, class: " btn btn-warning" %>
        <% if user_signed_in? && current_user.id == @post.user_id %>
          <%= link_to "編集", edit_post_path, method: :get, class: " btn btn-warning" %>
          <%= link_to "削除", post_path, method: :delete, class:" btn btn-warning" %>
        <% end %>
      </div>
  </div>
  <div class="container-comment-box">
    <% if user_signed_in? %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
      <div class='comment-form__field'>
        <%= form.text_area :text, class: "form-control", placeholder: "コメントを入力", rows: "2" %>
      </div>
      <div class='comment-form__field'>
         <%= form.submit "コメントする", class: 'comment-form__action-btn btn btn-warning' %>
      </div>     
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <div class="comment-box">
          <strong><%= link_to comment.user.nickname, user_path(comment.user_id), class: "comment-user" %>さん</strong>
          <span><%= l comment.created_at %></span>
          <span class="comment-edit", id="comment_edit_<%= comment.id %>">編集</span>
          <span><%= link_to "削除", post_comment_path(comment.post.id, comment.id), method: :delete, class:"comment-delete" %></span><br>
          <%= comment.text %>
          <div class="comment-edit-box hidden" id="comment_edit_input_<%= comment.id %>">
            <%=form_with model: comment, url: "/posts/#{comment.post.id}/comments/#{comment.id}", method: :patch, local: true do |f|%>
              <div class='comment-edit-form__field'>
                <%= f.text_field :text, class: "form-control", placeholder: "編集内容を記入してください" %>
              </div>
              <div class='comment-edit-form__field'>
                <%= f.submit "更新する", class: 'comment-edit-form__action-btn'%>
              </div>
            <% end %>
          </div>
        </div>
        <script>
          window.addEventListener('load', function(){
            const commentEdit = document.getElementById("comment_edit_<%= comment.id %>")
            const commentEditInput = document.getElementById("comment_edit_input_<%= comment.id %>")
            commentEdit.addEventListener('click', function() {
              if (commentEditInput.getAttribute("style") == "display:block;") {
                commentEditInput.removeAttribute("style")
              } else {
                commentEditInput.setAttribute("style", "display:block;")
              }
            })
          })
        </script>
      <% end %>
    </div>
  </div>
</div>