<!DOCTYPE html>
<html>
  <head>
    <title>Patte à Patte</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="p-3 bg-dark text-white">
      <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-space-between justify-content-lg-start">
          <h2 style="padding-right: 20px;"><a href="/" class="mb-2 mb-lg-0 text-white">Patte à Patte</a></h2>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><%= link_to 'Room', rooms_path, class: "nav-link px-2 text-white" %></li>
          </ul>
          <%# 検索機能実装時に追加 %>
          <%# <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
          </form> %>
          <%# 検索機能実装時に追加 %>
          <% if user_signed_in? %>
            <div class="dropdown">
              <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <%= image_tag current_user.image, alt:"", width:32, height:32, class:"rounded-circle me-2" %>

                <strong><%= current_user.nickname %></strong>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><%= link_to 'マイページ', user_path(current_user.id), class: "dropdown-item" %></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
              </ul>
            </div>
          <% else %>
            <div class="text-end">
              <button type="button" class="btn btn-dark"><%= link_to "ログイン", user_session_path, class: "text-decoration-none", style: "color: White;" %></button>
              <button type="button" class="btn btn-dark"><%= link_to "新規登録", new_user_registration_path, class: "text-decoration-none", style: "color: white;" %></button>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="bg-dark text-light">
    <% if params[:controller] == 'messages' %>
    <% else %>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 9.984C10.403 9.506 12 7.48 12 5a4 4 0 0 0-8 0c0 2.48 1.597 4.506 4 4.984ZM13 5c0 2.837-1.789 5.227-4.52 5.901l.244.487a.25.25 0 1 1-.448.224l-.008-.017c.008.11.02.202.037.29.054.27.161.488.419 1.003.288.578.235 1.15.076 1.629-.157.469-.422.867-.588 1.115l-.004.007a.25.25 0 1 1-.416-.278c.168-.252.4-.6.533-1.003.133-.396.163-.824-.049-1.246l-.013-.028c-.24-.48-.38-.758-.448-1.102a3.177 3.177 0 0 1-.052-.45l-.04.08a.25.25 0 1 1-.447-.224l.244-.487C4.789 10.227 3 7.837 3 5a5 5 0 0 1 10 0Zm-6.938-.495a2.003 2.003 0 0 1 1.443-1.443C7.773 2.994 8 2.776 8 2.5c0-.276-.226-.504-.498-.459a3.003 3.003 0 0 0-2.46 2.461c-.046.272.182.498.458.498s.494-.227.562-.495Z"/>
              </svg>
              Patte à Patte
            </p>
          </div>
        </div>
      </div>
    <% end %>
    </footer>
  </body>
</html>
